@media screen and (min-width: 900px){
    .initiative-request-page {
        padding-top: 5%;
    }
}

.initiative-request-form {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}