
/* For the styling of input components */

.buttonPane {
  text-align: center;
  padding: .4rem .6rem;
}

.dropdown {
  display: none;
  position: absolute;
}

.buttonContainer:hover .dropdown {
  display: block;
}

.dropdown:hover {
  display: block;
}

/* Different Button Looks */

.clickable1 {
  color: rgba(0, 0, 0, .4);
  border-bottom: 2px solid rgba(0, 0, 0, .4);
  background-color: rgba(0, 0, 0, .1);
}

.clickable1:hover {
  color: rgb(129, 0, 189);
  border-bottom: 2px solid rgb(129, 0, 189);
  background-color: white;
}

.clickable1:active {
  background-color: rgba(129, 0, 189, .1);
}

.clickable2 {
  background-color: beige;
}

.clickable2:hover {
  color: black;
  background-color: antiquewhite;
}
