@media screen and (min-width: 900px){
    .workorder-page {
        padding-top: 5%;
    }
}

.workorder-form {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}