@media screen and (min-width: 900px){
    .mcteam-page {
        margin-top: 8%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 650px){
    .mcteam-key {
        font-size: 1em;
        padding-right: 5px;
        padding-left: 5px;
    }

    .active-key {
        background-color: #422a4C;
        color: #DDCEE5;
        text-align: center;
        width: 120px;
        height: 75px;
    }
    
    .inactive-key {
        color: #422a4C;
        text-align: center;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        width: 120px;
        height: 75px;
    }
}

@media screen and (max-width: 650px){
    .mcteam-key {
        font-size: 0.9em;
        padding-right: 10px;
        padding-left: 10px;
    }

    .active-key {
        background-color: #422a4C;
        color: #DDCEE5;
        text-align: center;
        width: 62px;
        height: 50px;
    }
    
    .inactive-key {
        color: #422a4C;
        text-align: center;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        width: 62px;
        height: 50px;
    }
}

.inactive-slide:hover {
    background-color: #422a4C;
    color: #DDCEE5;
}

.position-content {
    background-color: #DDCEE5;
    border: 2px solid #422a4C;
    margin-top: 30px;
    padding: 5px 30px 5px 30px;
}