@media screen and (min-width: 900px){
    .divisional-advisors-page {
        padding-top: 5%;
    }

    .wide-navbar {
        display: flex;
        flex-direction: row;
        position: fixed;
    }

    .narrow-navbar {
        display: none;
    }

    .dropdown-header-inactive {
        border: solid #422a4C;
        border-width: 0px 0px 2px 0px;
    }

    .dropdown-header-active {
        border: solid #422a4C;
        border-width: 0px 0px 2px 0px;
    }

    .dropdown-subheader {
        background-color: #A884B7;
    }
}

@media screen and (max-width: 900px){
    .navbar-crest {
        display: none;
    }

    .wide-navbar {
        display: none;
    }

    .narrow-navbar {
        display: flex;
        flex-direction: column;
    }
}

.wide-navbar {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.dropdown-item {
    display: block;
    color: #422a4C;
    text-align: center;
}

.dropdown-header-inactive {
    height: 35px;
    padding: 5px;
    background-color: #9570A5;
    color: #422a4C;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-header-active {
    height: 35px;
    padding: 5px;
    background-color: #422a4C;
    color: #DDCEE5;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-header {
    color: #422a4C;
    display: block;
    padding: 5px;
    
}

.dropdown-header:hover {
    background-color: #422a4C;
    color: #DDCEE5;
    cursor: pointer;
}

.dropdown-subheader {
    text-align: center;
    padding: 5px;
    display: block;
    color: #DDCEE5;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-subheader:hover {
    background-color: #422a4C;
    cursor: pointer;
}

.dropdown-subheaders {
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.narrow-navbar-toggle {
    margin-top: 6%;
    position: absolute;
    z-index: 999;
    margin-left: 6%;
    margin-right: 90%;
}

.narrow-navbar-menu {
    margin-top: 3%;
    background-color: #9570A5;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    transition: max-height 0.8s ease-in-out;
    overflow: hidden;
}

.filler-box {
    width: 5%;
    padding: 5px;
    height: 35px;
    border: solid #422a4C;
    border-width: 0px 0px 2px 0px;
}