
/* Secondary purple color */
/* background-color: rgb(241, 226, 255); */


@media screen and (min-width: 1000px){
    .wide-navbar {
        display: flex;
        flex-direction: row;
        position: absolute;
    }

    .narrow-navbar {
        display: none;
    }

    .dropdown-header-inactive {
        /* border: solid #422a4C;
        border-width: 2px 0px 2px 0px; */
    }

    .dropdown-header-active {
        /* border: solid #422a4C;
        border-width: 2px 0px 2px 0px; */
    }

    .dropdown-subheader {
        background-color: #ffffff;
        color: gray;
    }

    .dropdown-subheader:hover {
        /* background-color: rgb(67, 30, 105); */
        color:#431e69;
        background-color: #f1e2ff;
        cursor: pointer;
    }
}

@media screen and (max-width: 999px){
    .navbar-crest {
        display: none;
    }

    .wide-navbar {
        display: none;
    }

    .narrow-navbar {
        display: flex;
        flex-direction: column;
    }
}

.wide-navbar {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    z-index: 999;
    width: 100%;
}

.dropdown-item {
    display: block;
    /* color: #422a4C; */
    text-align: center;
}

.dropdown-header-inactive {
    height: 20px;
    padding: 5px;
    color: gray;
    border-bottom: 2px solid gray;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-header-active {
    height: 20px;
    padding: 5px;
    /* background-color: rgb(241, 241, 241); */
  
    border-bottom: 2px solid #431e69;
    color: #431e69;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-header {
    /* color: #422a4C; */
    display: block;
    padding: 5px;
}

.arrow {
    transition: transform 0.4s ease-in-out;
}

.dropdown-subheader {
    text-align: center;
    padding: 5px;
    display: block;
    /* color: #DDCEE5; */
    transition: background-color 0.3s ease-in-out;
}

.dropdown-subheaders {
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    max-height: 0px;
}

.narrow-navbar-toggle {
    margin-top: 6%;
    position: absolute;
    z-index: 999;
    margin-left: 6%;
    margin-right: 90%;
}

.narrow-navbar-menu {
    margin-top: 3%;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    transition: max-height 0.8s ease-in-out;
    overflow: hidden;
}

.filler-box {
    width: 5%;
    padding: 5px;
    height: 20px;
    border-bottom: 2px solid gray;
    /* border: solid #422a4C;
    /* border-width: 2px 0px 2px 0px; */ 
    transition: background-color 0.2s ease-in-out;
}

@media screen and (min-width: 2000px){
    .dropdown-item {
        font-size: 1.8em;
    }
    
    .dropdown-header-inactive {
        height: 20px;
    }

    .dropdown-header-active {
        height: 20px;
    }

    .filler-box {
        height: 20px;
    }
}

