.associate_card {
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.associate_card:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 10px black;
}

.associate_name {
    color: #DDCEE5;
    font-weight: normal;
    text-align: center;
}

.associate_description {
    text-align: left;
    padding: 20px;
    color: #DDCEE5;
}
