@media screen and (min-width: 900px){
    .mcministry-page {
        margin-top: 8%;
        margin-bottom: 5%;
    }
}

/* #431e69 Primary */
/* #f1e2ff Secondary */
/* 
.division-title {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
    border: 1px solid #431e69;
    padding: 8px;
    color: #431e69;
    background-color: #f1e2ff; 
} */