.position-card {
    margin: 10px;
}

.position-card-content {
    height: 150px;
    border: solid;
    border-width: 5px 2px 2px 5px;
    border-color: #422a4C #5C3F68 #5C3F68 #422a4C;
    background-color: #9570A5;
    color: #422a4C;
    padding: 15px;
    transition: background-color 0.3s ease-in-out;
}

.position-card-content:hover {
    background-color: #DDCEE5;
}

.positionless-card-content {
    height: 130px;
    border: solid;
    border-width: 5px 2px 2px 5px;
    border-color: #422a4C #5C3F68 #5C3F68 #422a4C;
    background-color: #9570A5;
    color: #422a4C;
    padding: 15px;
    transition: background-color 0.3s ease-in-out;
}

.positionless-card-content:hover {
    background-color: #DDCEE5;
}

.position {
    font-weight: normal;
    font-size: 0.9em;
}

.name {
    font-size: 1.25em;
}

.contact {
    text-decoration: none;
    color: #422a4C;
}

.year {
    font-weight: normal;
    font-size: 0.8em;
}

.contact-email {
    font-size: 0.8em;
    transition: transform 0.3s ease-in-out;
}

.contact-email:hover {
    transform: scale(1.1) translate(15px, 0px);
}

.contact-phone {
    font-size: 0.8em;
    transition: transform 0.3s ease-in-out;
}

.contact-phone:hover {
    transform: scale(1.1) translate(15px, 0px);
}