.mcm-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 900px){
    .mcm-crest {
        background-color: #DDCEE5;
        border: solid #422a4C;
        border-width: 0px 0px 2px 0px;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        margin-top: 0%;
    }
}


