.mcm-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 999px) {
    div .mcm-crest {
        padding-left: 100px; 
    }
}


