.equipment-request-page {
    margin-top: 8%;
}

/* #431e69 Primary */
/* #f1e2ff Secondary */

.tech-request {
    border: 1px solid #431e69;
    color: #431e69;
    text-align: center;
}

.tech-request-link {
    color: #431e69;
    transition: color 0.3s ease-in-out;
}

.tech-request-link:hover {
    color: #f1e2ff;
}