.equipment-request-page {
    padding-top: 5%;
}

.tech-request {
    border: 2px solid #422a4C;
    color: #422a4C;
    text-align: center;
}

.tech-request-link {
    color: #422a4C;
    transition: color 0.3s ease-in-out;
}

.tech-request-link:hover {
    color: #DDCEE5;
}