.room-reservations-page {
    margin-top: 8%;
    margin-bottom: 5%;
}

.room-catagory {
    border: 2px solid #422a4C;
    color: #422a4C;
    padding: 30px;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.catagory-subheader {
    text-align: left;
}

.reservation-email-link {
    border: 2px solid #422a4C;
    margin-left: auto;
    margin-right: auto;
    background-color: #DDCEE5;
    transition: box-shadow 0.3s ease-in-out, transform 3s ease-in-out;
}

.reservation-email-link:hover {
    box-shadow: 0px 0px 10px 3px #422a4C;
    transform: scale(1.05) rotate(360deg);
}

.reservation-link {
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    color: #422a4C;
}

.scheduler-container {
    width: 860px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

.scheduler {
    width: 860px;
    height: 500px;
}